In [9]:
today_is_a_good_day = True

In [2]:
if today_is_a_good_day:
    print("be happy")

be happy

In [10]:
print("test")

test

In [1]:
s = 'first line. \nSecond line.'

In [2]:
s

'first line. \nSecond line.'

In [3]:
print(s)

first line.
Second line.

In [4]:
# Raw strings
print('c:\some\name')

c:\some
ame

In [5]:
print(r'C:some\name')

C:some\name

In [6]:
print('''\
    Usage: thingy [OPTIONS]
      -h                        Display this usage message
      -H hostname               Hostname to connect to
''')

    Usage: thingy [OPTIONS]
      -h                        Display this usage message
      -H hostname               Hostname to connect to

In [8]:
print('''\
      SKU         Qty               price
      Milo         10               25
      Maggi        45               10
      Banana       4                23
      ''')

      SKU         Qty               price
      Milo         10               25
      Maggi        45               10
      Banana       4                23

In [13]:
a = 'py'
b = 'thon'
print("hello", a+b)

hello python

In [19]:
a = 'python'
print(a[-2:])

on

In [20]:
print(3* 'um' + 'ium')

umumumium

In [24]:
'chu' 'kwu' 'e' 'meka'

'chukwuemeka'

In [26]:
text = ('To meet a girl in park is good '
        'but to park meat in girl is better ')
text

'To meet a girl in park is good but to park meat in girl is better '

In [29]:
prefix = 'py'
prefix +'thon'

'python'

In [38]:
word = 'python'
print(word[-0])

p

In [42]:
word[:4] + word[4:]

'python'

In [43]:
word[50]

IndexError: string index out of range

In [44]:
word[4:50]

'on'

In [46]:
s = 'eIUDYGFOBUQEWS AFIUDGFUIBJESD ZCGOUIEWSDJCXN'
len(s)
s[14:]

' AFIUDGFUIBJESD ZCGOUIEWSDJCXN'

In [52]:
text = 'pyThon'

In [53]:
str.capitalize(word)

'Python'

In [54]:
str.casefold(word)

'python'

In [72]:
text = 'Hello'
text2= text.center(11,'*')
print(text)
print(text2)

Hello
***Hello***

In [76]:
text3= 'food is good food for thought'
print(text3.count('food'))

2

In [77]:
text3= 'food is good food for thought'
print(text3.count('food', 0, 13))

1

In [81]:
first_name = 'Obinna'
last_name = 'Young'
sentence = f'my name is {first_name} {last_name}'
print(sentence)

my name is Obinna Young

List

In [83]:
fruits = ['Mango', 'Banana', 'Orange', 'Pear']
print(fruits)

['Mango', 'Banana', 'Orange', 'Pear']

In [84]:
fruits[1]

'Banana'

In [85]:
fruits[-1]

'Pear'

In [86]:
fruits + ['apple', 'guava', 'kiwi']

['Mango', 'Banana', 'Orange', 'Pear', 'apple', 'guava', 'kiwi']

In [89]:
fruits[3]= 'pawpaw'
fruits

['Mango', 'Banana', 'Orange', 'pawpaw']

In [91]:
fruits.append('lime')
fruits

['Mango', 'Banana', 'Orange', 'pawpaw', 'lime', 'lime']

In [ ]:
rgb = ['Red', 'Green', 'Blue']
rgba = rgb
rgb == rgba
rgba.append('Alpha')
rgb

['Red', 'Green', 'Blue', 'Alpha']

In [101]:
rgba[:]
rgb[-1]
rgba[-1]= 'Alph'
rgb

['Red', 'Green', 'Blue', 'Alph']

In [110]:
letters= ['A', 'B', 'C', 'D', 'E', 'F']
letters
letters[3:5]= ['d','e']
letters

['A', 'B', 'C', 'd', 'e', 'F']

In [108]:
#clear the list
letters[:] = []
letters

[]

In [111]:
len(letters)

6

In [127]:
#nesting list
a = ['a', 'b', 'c']
n = [1, 2, 3]
k = ['fg', 'ck']
x = [a, n, k]
x

[['a', 'b', 'c'], [1, 2, 3], ['fg', 'ck']]

In [128]:
x[0]

['a', 'b', 'c']

In [130]:
x[2]

['fg', 'ck']

In [129]:
x[1]

[1, 2, 3]

In [118]:
x[0][1]

'b'

In [125]:
x[0:]

[['a', 'b', 'c'], [1, 2, 3]]

In [131]:
x[1:]

[[1, 2, 3], ['fg', 'ck']]

In [133]:
x[1],x[2]

([1, 2, 3], ['fg', 'ck'])

Programmming

In [139]:
#fibonacci series:
# the sum of two elements defines the next.
a,b =0, 1
while a < 10:
    print(a)
    a,b = b, a+b

0
1
1
2
3
5
8

In [151]:
x, y= 0, 1
while x < 100:
    print(x, end=',')
    x, y = y, x+y

0,1,1,2,3,5,8,13,21,34,55,89,

In [152]:
x, y= 0, 1
while x < 100:
    print(x, end=',')
    x, y = y, x+y

0,1,1,2,3,5,8,13,21,34,55,89,

LOOPS

In [159]:
for number in range(1,11,2):
    print('attempt', number,  number *'.')

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

In [195]:
successful = True
for number in range(3):
    print("Attempted")
    if successful:
        print("Successful")
        break

Attempted
Successful

In [197]:
successful = False
for number in range(3):
    print("Attempted")
    if successful:
        print("Successful")
        break
else:
    print("Outcome: Attempted 3 times and failed")

Attempted
Attempted
Attempted
Outcome: Attempted 3 times and failed

In [176]:
#Nested loops
for x in range(5):
    for y in range(3):
        print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [188]:

for n in range(1,10):
    if  n%2 == 0:
        print(n)

2
4
6
8

In [190]:
count = 0
for n in range(1,10):
    if n%2 == 0:
        count += 1
        print(n)
print(f"we have {count} even numbers")

2
4
6
8
we have 4 even numbers

In [192]:
sum(range(5))

10

In [203]:
Obinna_is_good = True
if Obinna_is_good:
    print('give him money')
else:
    print('let him be')

give him money

In [243]:
import mysql.connector

# Establishing the connection
connection=mysql.connector.connect(
    user='root',
    host='localhost',
    database='sample_db',
    password='00335588'
)

# Create a cursor object using the connection
cursor = connection.cursor()

# Define your SQL query
query = "SELECT * FROM Employees"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

(1, 'John', 'Doe', 'Marketing', Decimal('50000.00'), None)
(2, 'Jane', 'Smith', 'Sales', Decimal('60000.00'), None)
(3, 'Sam', 'Brown', 'IT', Decimal('75000.00'), None)
(4, 'Alice', 'Johnson', 'HR', Decimal('55000.00'), None)

In [249]:
for row in rows:
    print(row)

(1, 'John', 'Doe', 'Marketing', Decimal('50000.00'), None)
(2, 'Jane', 'Smith', 'Sales', Decimal('60000.00'), None)
(3, 'Sam', 'Brown', 'IT', Decimal('75000.00'), None)
(4, 'Alice', 'Johnson', 'HR', Decimal('55000.00'), None)

4.3 Range function

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [6]:
for b in range(2, 20, 2):
    print(b)

2
4
6
8
10
12
14
16
18

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
range(5)

range(0, 5)

In [9]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [10]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [12]:
a = ["Mary", "had", "a", "little", "lamb", "farm"]
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb
5 farm

In [13]:
sum(range(4))

6